.SketchEditor {
  padding: 4px;
  &__sketch {
    border: 2px solid grey;
    padding: 2px;
    &-title {
      border-bottom: 1px solid grey;
    }
    &-name {
      width: 85%;
      margin-bottom: 2px;
    }
    &-uid {
      font-weight: bold;
    }
    &-content {
      width: calc(100% - 5px);
      max-width: calc(100% - 5px);
      height: 30vh;
      max-height: 85vh;
      font-family: "Courier New", sans-serif;
    }
  }
}