.SketchesApp {
  &__editor-container {
    width: 55%;
    display: inline-block;
  }
  &__menu-container {
    width: 45%;
    display: inline-block;
  }
  &__none-selected-message,
  &__loading-sketches-message {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
}